
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  width:65%; 
  height:80%;
  gap: 2rem; 
}

.layout1 {
  background-color: rgb(51, 51, 98);
}

.layout2 {
  background-color: pink;
}

.layout3 {
  background-color: cyan;
}